* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
p,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style: circle inside;
}

address {
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.not-scroll {
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
  justify-content: center;
  height: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .main {
    min-width: 768px;
  }
}

@media (min-width: 1024px) {
  .main {
    min-width: 1024px;
  }
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  padding: 50px 20px;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: rgba(223, 185, 139, 0.4);
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1360px;
  padding: 20px;
  font-size: 13px;
  box-shadow: rgba(90, 69, 66, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    font-size: 16px;
  }
}

.footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__link {
    flex-direction: row;
  }
}

.footer__img {
  height: 50px;
}

@media (min-width: 768px) {
  .footer__img {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .footer__img {
    height: 100px;
  }
}

.footer__item {
  padding: 7px;
  text-align: center;
}

.footer__weekend {
  font-weight: 600;
}

.footer__title {
  font-family: "Alegreya", serif;
  font-size: 18px;
}

.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px 20px 0px 20px;
  background-color: rgba(223, 185, 139, 0.4);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}

.header__hero--main {
  background-image: linear-gradient(to right, rgba(114, 95, 78, 0.6), rgba(22, 16, 5, 0.7)), url("../img/VaodessaHeader.jpg");
}

.header__hero--common {
  background-image: linear-gradient(to right, rgba(114, 95, 78, 0.6), rgba(22, 16, 5, 0.7)), url("../img/heroCommon.jpg");
}

.header__hero--services {
  background-image: linear-gradient(to right, rgba(114, 95, 78, 0.6), rgba(22, 16, 5, 0.7)), url("../img/heroServices.jpg");
}

.header__hero--science {
  background-image: linear-gradient(to right, rgba(114, 95, 78, 0.6), rgba(22, 16, 5, 0.7)), url("../img/heroScience.jpg");
}

.header__background {
  background-color: rgba(223, 185, 139, 0.4);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 727px;
  height: 200px;
}

@media (min-width: 768px) {
  .header__background {
    max-width: 983px;
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .header__background {
    max-width: 1400px;
    height: 400px;
  }
}

.header__title {
  display: block;
  position: absolute;
  top: 130px;
  left: -25px;
  width: 300px;
  background-color: rgba(253, 253, 253, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 768px) {
  .header__title {
    top: 220px;
    left: -30px;
    width: 600px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    top: 300px;
    left: -30px;
    width: 650px;
  }
}

.header__image {
  position: relative;
  width: 250px;
  left: 50px;
}

@media (min-width: 768px) {
  .header__image {
    width: 450px;
    left: 55px;
  }
}

@media (min-width: 1024px) {
  .header__image {
    width: 550px;
    left: 55px;
  }
}

.return-main {
  display: none;
}

@media (min-width: 768px) {
  .return-main {
    display: block;
    position: absolute;
    right: 50px;
    bottom: unset;
    top: 100px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(253, 253, 253, 0.7);
    background-color: rgba(90, 69, 66, 0.7);
    box-shadow: 0px 4px 4px rgba(219, 198, 177, 0.5);
  }
}

@media (min-width: 1024px) {
  .return-main {
    font-size: 18px;
  }
}

.section__title {
  font-size: 18px;
  text-align: center;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 20px;
  }
}

.section__text {
  margin-top: 15px;
  font-size: 16px;
  text-align: justify;
}

@media (min-width: 768px) {
  .section__text {
    font-size: 18px;
  }
}

.subsection__title {
  margin: 30px 0 0;
  font-size: 16px;
  text-align: center;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-bold {
  font-weight: 600;
}

.text-italic {
  font-style: italic;
}

.img {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(223, 185, 139, 0.4);
}

.img__thumb--left {
  display: flex;
  justify-content: center;
  margin: 15px 15px 15px 0;
}

@media (min-width: 610px) {
  .img__thumb--left {
    float: left;
  }
}

.img__thumb--right {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 15px;
}

@media (min-width: 610px) {
  .img__thumb--right {
    float: right;
  }
}

.img--horiz {
  max-width: 260px;
}

@media (min-width: 768px) {
  .img--horiz {
    max-width: 440px;
  }
}

.img--vert {
  max-height: 300px;
}

@media (min-width: 768px) {
  .img--vert {
    max-height: 400px;
  }
}

.header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: block;
    height: 55px;
    background-color: rgba(90, 69, 66, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  }
}

.header__menu ul li:hover .menu__submenu {
  display: inline-block;
  opacity: 1;
}

.header__menu .menu__submenu {
  opacity: 0;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}

.menu__list > li {
  display: inline-block;
  position: relative;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.menu__item {
  width: 275px;
  height: 40px;
  padding: 15px 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

@media (min-width: 1024px) {
  .menu__item {
    font-size: 17px;
  }
}

.menu__item:hover, .menu__item:focus {
  background-color: rgba(233, 229, 229, 0.7);
}

.menu__item:hover .menu__item__title,
.menu__item:focus .menu__item__title {
  color: rgba(44, 30, 22, 0.9);
}

.menu__item:hover .menu__submenu,
.menu__item:focus .menu__submenu {
  background-color: rgba(253, 253, 253, 0.7);
}

.menu__item:hover .menu__item__arrow,
.menu__item:focus .menu__item__arrow {
  transform: rotate(0);
}

.menu__item__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item__arrow {
  transform: rotate(-90deg);
  transition: 0.5s ease-in-out;
}

.menu__item__title {
  font-size: 15px;
  font-weight: 600;
  color: rgba(248, 247, 247, 0.9);
}

@media (min-width: 1024px) {
  .menu__item__title {
    font-size: 18px;
  }
}

.menu__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
  list-style-type: none;
  text-decoration: none;
  color: rgba(44, 30, 22, 0.9);
}

.menu__submenu__link {
  display: block;
  padding: 3px 0;
}

@media (min-width: 768px) {
  .menu__submenu__link {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  .menu__submenu__link {
    font-size: 18px;
  }
}

.menu__submenu__link:hover, .menu__submenu__link:focus {
  background-color: rgba(90, 69, 66, 0.4);
}

.menu__text {
  font-size: 15px;
}

.current {
  pointer-events: none;
  font-weight: 700;
  background-color: rgba(207, 156, 114, 0.4);
}

@media (min-width: 320px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    overflow-y: scroll;
    background-color: rgba(168, 158, 148, 0.96);
    color: #1d1712;
  }
}

@media (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__list {
  min-width: 280px;
  margin: 0 auto;
  padding: 60px 20px 20px;
  list-style-type: none;
}

.mobile-menu__sublist {
  margin-bottom: 16px;
  margin-left: 10px;
  list-style: circle;
}

.mobile-menu__sublist > li {
  margin-top: 8px;
}

.mobile-menu__title {
  font-family: "Alegreya", serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

body.modal-open {
  position: fixed;
  overflow: hidden;
}

.return-main--mobile {
  margin-bottom: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.current--mobile {
  pointer-events: none;
  font-weight: 600;
  background-color: rgba(156, 129, 106, 0.6);
}

.mobile-menu__closeBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  outline: none;
  border: none;
  background-color: transparent;
}

.mobile-menu__closeIcon {
  fill: currentColor;
}

.open-mobile-menu {
  display: block;
  position: absolute;
  top: 40px;
  right: 40px;
}

@media (min-width: 768px) {
  .open-mobile-menu {
    display: none;
  }
}

.open-mobile-menu__btn {
  background-color: rgba(163, 117, 87, 0.5);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(219, 198, 177, 0.5);
}

.open-mobile-menu__icon {
  fill: rgba(241, 228, 206, 0.8);
}

.about__container {
  padding: 40px 30px;
}

.about__text {
  margin-top: 15px;
  font-size: 18px;
  text-align: justify;
}

.box-menu {
  background-color: rgba(223, 185, 139, 0.1);
}

.box-menu__container {
  max-width: 1300px;
}

.box-menu__set {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

@media (min-width: 768px) {
  .box-menu__set > .card-set__card {
    flex-basis: calc((100% - 40px) / 2);
    align-content: flex-start;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .box-menu__set > .card-set__card {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.box-menu__card {
  margin: 10px;
  transition: 1s;
}

.box-menu__link {
  transition: box-shadow transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}

.box-menu__link:hover .overlay,
.box-menu__link:focus .overlay {
  transform: translateX(0);
  opacity: 1;
}

.box-menu__link:hover, .box-menu__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  transform: scale(1.05);
}

.box-menu__thumb {
  position: relative;
  width: 280px;
  height: 215px;
  overflow: hidden;
}

@media (min-width: 768px) {
  .box-menu__thumb {
    width: 344px;
    height: 265px;
  }
}

.box-menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-menu__title {
  padding: 5px;
  text-align: center;
  font-size: 16px;
  background-color: rgba(223, 185, 139, 0.4);
}

@media (min-width: 768px) {
  .box-menu__title {
    font-size: 18px;
  }
}

.overlay {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(110, 88, 68, 0.7);
}

@media (min-width: 1024px) {
  .overlay {
    transform: translateY(100%);
  }
}

.overlay__text {
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #fdfdfd;
}

.references__subtitle {
  text-align: center;
  font-size: 16px;
}

.references__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 768px) {
  .references__list {
    flex-direction: row;
  }
}

.references__item {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .references__item {
    padding: 35px;
    font-size: 12px;
  }
}

.references__img {
  height: 100px;
}

@media (min-width: 768px) {
  .references__img {
    height: 125px;
  }
}

.pokazhchyky {
  display: flex;
  justify-content: center;
}

.bibliograf {
  display: flex;
  justify-content: center;
}

.catalog {
  display: flex;
  justify-content: center;
}

.newFlows__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.newFlows__menu {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.newFlows__menu > li {
  margin-top: 8px;
}

.newFlows__menu > li:hover,
.newFlows__menu > li:focus {
  color: #af5825;
}

.newFlows__title {
  margin: 30px 0 0;
  font-size: 18px;
  text-align: center;
}

.newFlows__list {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.newFlows__list > li {
  margin-top: 8px;
}

.newFlows__reference {
  margin: 30px 0 20px;
  font-size: 18px;
}

.newFlows__link {
  color: #af5825;
  font-weight: 600;
}

.newFlows__link:hover, .newFlows__link:focus {
  color: #2d23c0;
}

.news {
  display: flex;
  justify-content: center;
}

.periodicals__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 260px;
  margin-top: 50px;
  font-size: 10px;
}

@media (min-width: 610px) {
  .periodicals__content {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  .periodicals__content {
    font-size: 16px;
  }
}

.magazines {
  font-size: 7px;
}

@media (min-width: 610px) {
  .magazines {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .magazines {
    font-size: 16px;
  }
}

.table__title {
  font-size: 20px;
}

.periodicals__table {
  margin-top: 5px;
  border: 3px solid #aca7a7;
}

th {
  text-align: center;
  background-color: rgba(221, 216, 219, 0.5);
}

tr,
td {
  padding: 3px;
  border: 1px solid rgba(221, 216, 219, 0.8);
  text-align: center;
}

@media (min-width: 320px) {
  .photoModal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-size: 18px;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    overflow-y: scroll;
    color: #1d1712;
    background-color: rgba(49, 47, 45, 0.7);
  }
}

.photoModal:hover, .photoModal:focus {
  cursor: zoom-out;
}

.photoModal.is-open {
  transform: translateX(0);
}

.photoModal__img {
  max-width: 90vw;
  max-height: 750px;
}

.gallery__set {
  margin-top: 20px;
}

.gallery__img:hover,
.gallery__img:focus {
  cursor: zoom-in;
}

.regulation__pretitle {
  text-align: right;
}

.regulation__text {
  margin-top: 10px;
  margin-bottom: 30px;
}

.services__img {
  list-style-type: none;
}

.rules__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rules__list {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.rules__list > li {
  margin-top: 8px;
}

.rules__list > li:hover,
.rules__list > li:focus {
  color: #af5825;
}

.resourses {
  display: flex;
  justify-content: center;
}

.publication__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.publication__menu {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

.publication__menu > li {
  margin-top: 8px;
}

.publication__menu > li:hover,
.publication__menu > li:focus {
  color: #af5825;
}

.publication__title {
  margin: 30px 0 0;
  font-size: 16px;
}

.publication__list {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.publication__list > li {
  margin-top: 8px;
}

.common__subsection__title {
  font-size: 14px;
}

@media (min-width: 768px) {
  .common__subsection__title {
    margin-top: 0;
    font-size: 16px;
  }
}

.staff {
  background-color: rgba(223, 185, 139, 0.1);
}

.staff__item {
  margin-bottom: 20px;
}

.staff__item > p {
  margin-top: 5px;
}

.staff__item:last-child {
  margin-bottom: 0;
}

.staff__content {
  display: block;
}

@media (min-width: 870px) {
  .staff__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.staff__text {
  text-align: left;
}

.staff__list {
  margin-top: 20px;
  list-style: none;
}

.staff__img {
  margin: 10px auto 0;
}

@media (min-width: 768px) {
  .staff__img {
    margin: 40px 10px 0;
    max-width: 550px;
    max-height: 405px;
  }
}

.schedule__content {
  margin-top: 10px;
}

.schedule__content > p {
  margin-bottom: 5px;
}

.schedule__content > p:last-child {
  margin-bottom: 0;
}

.schedule__text {
  font-size: 16px;
}

@media (min-width: 768px) {
  .schedule__text {
    font-size: 18px;
  }
}

.arrowTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 45px;
  background-color: rgba(219, 198, 177, 0.2);
  box-shadow: 1px 1px 5px #5a4542;
}

.arrowTop:hover,
.arrowTop:focus {
  background-color: rgba(117, 102, 99, 0.5);
}

[hidden] {
  display: none;
}
/*# sourceMappingURL=main.css.map */