* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

address {
  font-style: normal;
}

.container {
  padding: 0 15px;
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(223, 185, 139, 0.4);
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__background {
  background-size: cover;
  background-image: linear-gradient(to right, rgba(44, 30, 22, 0.4), rgba(47, 48, 58, 0.5)), url("../img/VaodessaHeader.jpg");
  background-repeat: no-repeat;
  max-width: 728px;
  height: 208px;
}

@media (min-width: 768px) {
  .header__background {
    max-width: 1400px;
    height: 400px;
  }
}

.header__title {
  position: absolute;
  top: 100px;
  left: -30px;
  width: 300px;
  display: block;
  background-color: rgba(253, 253, 253, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  .header__title {
    top: 270px;
    left: -30px;
    width: 600px;
  }
}

.header__image {
  position: relative;
  left: 50px;
  width: 250px;
}

@media (min-width: 768px) {
  .header__image {
    width: 450px;
    left: 55px;
  }
}

.header__menu {
  display: none;
}

@media (min-width: 768px) {
  .header__menu {
    display: block;
    height: 55px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: rgba(90, 69, 66, 0.8);
  }
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}

.menu__list > li {
  display: inline-block;
  position: relative;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.header__menu ul li:hover .menu__submenu {
  display: inline-block;
  opacity: 1;
}

.header__menu .menu__submenu {
  opacity: 0;
}

.menu__link {
  font-size: 15px;
  font-weight: 600;
  color: rgba(233, 229, 229, 0.9);
}

@media (min-width: 955px) {
  .menu__link {
    font-size: 18px;
  }
}

.menu__item {
  width: 275px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  padding: 15px 5px 0;
}

@media (min-width: 768px) {
  .menu__item {
    font-size: 17px;
  }
}

.menu__item:hover,
.menu__item:focus {
  background-color: rgba(233, 229, 229, 0.7);
}

.menu__item:hover .menu__link,
.menu__item:focus .menu__link {
  color: rgba(44, 30, 22, 0.9);
}

.menu__item:hover .menu__submenu,
.menu__item:focus .menu__submenu {
  background-color: rgba(253, 253, 253, 0.7);
}

.menu__submenu {
  display: none;
  color: rgba(44, 30, 22, 0.9);
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.menu__submenu > li {
  padding: 3px 0;
}

.menu__submenu > li:hover,
.menu__submenu > li:focus {
  background-color: rgba(90, 69, 66, 0.4);
}

.main {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.25);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(223, 185, 139, 0.4);
  padding: 25px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1360px;
  padding: 20px;
  font-size: 13px;
  box-shadow: rgba(90, 69, 66, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    font-size: 17px;
  }
}

.reference__link {
  display: flex;
  align-items: center;
}

.reference__img {
  height: 50px;
}

@media (min-width: 768px) {
  .reference__img {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .reference__img {
    height: 100px;
  }
}

.footer__item {
  text-align: center;
  padding: 7px;
}

.footer__weekend {
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */