* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #eee3d4;
  font-family: "Alegreya", serif;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.container {
  padding: 0 15px;
  min-width: 320px;
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}

.header__container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #dfcdb7;
}

.header__title {
  display: block;
  width: 296px;
  height: 74px;
  background-size: cover;
  background-image: url("../img/VALibrTitle.png");
  background-repeat: no-repeat;
}

@media (min-width: 480px) {
  .header__title {
    width: 456px;
    height: 114px;
  }
}

@media (min-width: 768px) {
  .header__title {
    width: 744px;
    height: 186px;
  }
}

@media (min-width: 1024px) {
  .header__title {
    width: 900px;
    height: 200px;
  }
}

.header__menu {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #917b67;
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}

.menu__list > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}

.menu__list > li:last-child {
  margin-right: 0;
}

.header__menu ul li:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
}

.header__menu .menu__submenu {
  visibility: hidden;
  opacity: 0;
  background: #e4dcc8;
}

.menu__item {
  text-align: center;
  width: 250px;
  background-color: #927f63;
  border: 1px solid #7a5b46;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 14px;
}

@media (min-width: 768px) {
  .menu__item {
    font-size: 17px;
  }
}

@media (min-width: 1024px) {
  .menu__item {
    font-size: 20px;
  }
}

.menu__submenu {
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

.menu__submenu > li:hover,
.menu__submenu > li:focus {
  color: #181615;
  background-color: #c0b19a;
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}

.main {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding: 20px;
}

.backgrond {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/VALibraryBackground.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .backgrond {
    width: 744px;
    height: 549px;
  }
}

@media (min-width: 1024px) {
  .backgrond {
    width: 1000px;
    height: 738px;
  }
}

.content__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1;
}

.content__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  text-align: center;
  margin-bottom: 20px;
}

.content__directions {
  padding-left: 35px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #dfcdb7;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .footer__container {
    font-size: 17px;
  }
}

.reference__link {
  display: flex;
  align-items: center;
}

.reference__img {
  height: 50px;
}

@media (min-width: 768px) {
  .reference__img {
    height: 80px;
  }
}

@media (min-width: 1024px) {
  .reference__img {
    height: 100px;
  }
}

.footer__item {
  text-align: center;
  padding: 7px;
}
/*# sourceMappingURL=main.css.map */