.box-menu {
  background-color: rgba(223, 185, 139, 0.1);
}

.box-menu__container {
  max-width: 1300px;
}

.box-menu__set {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  list-style-type: none;

  @media (min-width: 768px) {
    & > .card-set__card {
      flex-basis: calc((100% - 40px) / 2);
      align-content: flex-start;
    }

    @media (min-width: 1200px) {
      & > .card-set__card {
        flex-basis: calc((100% - 60px) / 3);
      }
    }
  }
}

.box-menu__card {
  margin: 10px;
  transition: 1s;
}

.box-menu__link {
  transition: box-shadow transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateX(0);
    opacity: 1;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.05);
  }
}

.box-menu__thumb {
  width: 280px;
  height: 215px;
  position: relative;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 344px;
    height: 265px;
  }
}

.box-menu__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-menu__title {
  text-align: center;
  font-size: 16px;
  background-color: rgba(223, 185, 139, 0.4);
  padding: 5px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(110, 88, 68, 0.7);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media (min-width: 1024px) {
    transform: translateY(100%);
  }
}

.overlay__text {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: white;
  padding: 20px;
}
