.references__subtitle {
  text-align: center;
  font-size: 16px;
}

.references__list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.references__item {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-size: 10px;
  text-align: center;

  @media (min-width: 768px) {
    padding: 35px;
    font-size: 12px;
  }
}

.references__img {
  height: 100px;

  @media (min-width: 768px) {
    height: 125px;
  }
}
