//ButtonUp styles
.arrowTop {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 45px;
  background-color: $UpBtnColor;
  box-shadow: 1px 1px 5px $shadowUpBtnColor;
}

.arrowTop:hover,
.arrowTop:focus {
  background-color: $hoverUpBtnColor;
}

[hidden] {
  display: none;
}
