.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(223, 185, 139, 0.4);
  padding: 20px 20px 0px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__background {
  background-size: cover;
  // background-image: linear-gradient(
  //     to right,
  //     rgba(44, 30, 22, 0.4),
  //     rgba(47, 48, 58, 0.5)
  //   ),
  //   url("../img/VaodessaHeader.jpg");
  background-image: linear-gradient(
      to right,
      rgba(131, 104, 78, 0.5),
      rgba(22, 16, 5, 0.6)
    ),
    url("../img/VaodessaHeader.jpg");
  background-repeat: no-repeat;
  max-width: 728px;
  height: 208px;

  @media (min-width: 768px) {
    max-width: 1400px;
    height: 400px;
  }
}

.header__title {
  position: absolute;
  top: 100px;
  left: -30px;
  width: 300px;
  display: block;
  background-color: rgba(253, 253, 253, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  @media (min-width: 768px) {
    top: 270px;
    left: -30px;
    width: 600px;
  }
}

.header__image {
  position: relative;
  left: 50px;
  width: 250px;

  @media (min-width: 768px) {
    width: 450px;
    left: 55px;
  }
}

.return-main {
  display: none;

  @media (min-width: 768px) {
    display: block;
    right: 50px;
    bottom: unset;
    top: 100px;
    font-size: 16px;
    position: absolute;
    font-weight: 600;
    background-color: rgba(90, 69, 66, 0.7);
    box-shadow: 0px 4px 4px rgba(219, 198, 177, 0.5);
    color: rgba(253, 253, 253, 0.7);
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}
