.header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px 20px 0px 20px;
  background-color: $pagePartColor;
  box-shadow: 0px 6px 6px $shadowSecondColor;
}

.header__hero--main {
  background-image: linear-gradient(
      to right,
      $heroGradientFirstColor,
      $heroGradientSecondColor
    ),
    url("../img/VaodessaHeader.jpg");
}

.header__hero--common {
  background-image: linear-gradient(
      to right,
      $heroGradientFirstColor,
      $heroGradientSecondColor
    ),
    url("../img/heroCommon.jpg");
}

.header__hero--services {
  background-image: linear-gradient(
      to right,
      $heroGradientFirstColor,
      $heroGradientSecondColor
    ),
    url("../img/heroServices.jpg");
}

.header__hero--science {
  background-image: linear-gradient(
      to right,
      $heroGradientFirstColor,
      $heroGradientSecondColor
    ),
    url("../img/heroScience.jpg");
}

.header__background {
  background-color: $pagePartColor;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  max-width: 727px;
  height: 200px;

  @media (min-width: 768px) {
    max-width: 983px;
    height: 300px;
  }

  @media (min-width: 1024px) {
    max-width: 1400px;
    height: 400px;
  }
}

.header__title {
  display: block;
  position: absolute;
  top: 130px;
  left: -25px;
  width: 300px;

  background-color: $titleColor;
  box-shadow: 0px 4px 4px $shadowSecondColor;

  @media (min-width: 768px) {
    top: 220px;
    left: -30px;
    width: 600px;
  }

  @media (min-width: 1024px) {
    top: 300px;
    left: -30px;
    width: 650px;
  }
}

.header__image {
  position: relative;
  width: 250px;
  left: 50px;

  @media (min-width: 768px) {
    width: 450px;
    left: 55px;
  }

  @media (min-width: 1024px) {
    width: 550px;
    left: 55px;
  }
}

.return-main {
  display: none;

  @media (min-width: 768px) {
    display: block;
    position: absolute;
    right: 50px;
    bottom: unset;
    top: 100px;
    font-size: 16px;
    font-weight: 600;
    color: $returnColor;
    background-color: $returnBGColor;
    box-shadow: 0px 4px 4px $returnShadowColor;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}
