//Common text and titles styles
.section__title {
  font-size: 20px;
  text-align: center;
}

.section__text {
  margin-top: 15px;
  font-size: 18px;
  text-align: justify;
}

.subsection__title {
  margin: 30px 0 0;
  font-size: 16px;
  text-align: center;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.text-bold {
  font-weight: 600;
}

.text-italic {
  font-style: italic;
}

//Common images styles
.img {
  display: flex;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px $shadowSecondColor;
  background-color: $pagePartColor;
}

.img__thumb--left {
  display: flex;
  justify-content: center;
  margin: 15px 15px 15px 0;

  @media (min-width: 610px) {
    float: left;
  }
}

.img__thumb--right {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 15px;

  @media (min-width: 610px) {
    float: right;
  }
}

.img--horiz {
  max-width: 260px;

  @media (min-width: 768px) {
    max-width: 440px;
  }
}

.img--vert {
  max-height: 300px;

  @media (min-width: 768px) {
    max-height: 400px;
  }
}
