.main {
  flex: 1 1 auto;
  height: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.25);
}

.section__title {
  font-size: 20px;
  text-align: center;
}

.section__text {
  margin-top: 15px;
  font-size: 18px;
  text-align: justify;
}

.subsection__title {
  font-size: 16px;
  text-align: center;
  margin: 30px 0 0;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.img__thumb--left {
  display: flex;
  justify-content: center;
  margin: 15px 15px 15px 0;

  @media (min-width: 610px) {
    float: left;
  }
}

.img__thumb--right {
  display: flex;
  justify-content: center;
  margin: 15px 0 15px 15px;

  @media (min-width: 610px) {
    float: right;
  }
}
