.header__menu {
  display: none;

  @media (min-width: 768px) {
    display: block;
    height: 55px;
    background-color: $headerBGColor;
    box-shadow: 0px 4px 4px $shadowSecondColor;
  }

  & ul li:hover .menu__submenu {
    display: inline-block;
    opacity: 1;
  }

  & .menu__submenu {
    opacity: 0;
  }
}

.menu__list {
  display: flex;
  justify-content: space-evenly;

  & > li {
    display: inline-block;
    position: relative;
  }

  & > li:last-child {
    margin-right: 0;
  }
}

.menu__item {
  width: 275px;
  height: 40px;
  padding: 15px 5px 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: 17px;
  }

  &:hover,
  &:focus {
    background-color: $menuItemHoverColor;
  }

  &:hover .menu__item__title,
  &:focus .menu__item__title {
    color: $menuSubLinkColor;
  }

  &:hover .menu__submenu,
  &:focus .menu__submenu {
    background-color: $returnColor;
  }

  &:hover .menu__item__arrow,
  &:focus .menu__item__arrow {
    transform: rotate(0);
  }
}

.menu__item__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__item__arrow {
  transform: rotate(-90deg);
  transition: 0.5s ease-in-out;
}

.menu__item__title {
  font-size: 15px;
  font-weight: 600;
  color: $menuItemTitleColor;

  @media (min-width: 1024px) {
    font-size: 18px;
  }
}

.menu__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  list-style-type: none;
  text-decoration: none;
  color: $menuSubLinkColor;
}

.menu__submenu__link {
  display: block;
  padding: 3px 0;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 1024px) {
    font-size: 18px;
  }

  &:hover,
  &:focus {
    background-color: $menuSubLinkHoverColor;
  }
}

.menu__text {
  font-size: 15px;
}

.current {
  pointer-events: none;
  font-weight: 700;
  background-color: $menuCurrentColor;
}
