.mobile-menu__container {
  @media (min-width: 320px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(168, 158, 148, 0.96);
    color: rgb(29, 23, 18);
    font-size: 18px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
    overflow-y: scroll;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__container.is-open {
  transform: translateX(0);
}

.not-scroll {
  overflow: hidden;
}

.mobile-menu__openBtn {
  background-color: rgba(163, 117, 87, 0.5);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(219, 198, 177, 0.5);
}

.mobile-menu__openIcon {
  fill: rgba(241, 228, 206, 0.8);
}

.mobile-menu__list {
  list-style-type: none;
  min-width: 280px;
  margin: 0 auto;
  padding: 60px 20px 20px;
}

.mobile-menu__sublist {
  list-style: circle;
  margin-bottom: 16px;
  margin-left: 10px;
}

.mobile-menu__sublist > li {
  margin-top: 8px;
}

.mobile-menu__title {
  font-family: "Alegreya", serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.mobile-menu__closeBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  outline: none;
  border: none;
  background-color: transparent;
}

.mobile-menu__closeIcon {
  fill: currentColor;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.return-main--mobile {
  margin-bottom: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.mobileMenu__container {
  position: absolute;
  top: 40px;
  right: 40px;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.current--mobile {
  background-color: rgba(156, 129, 106, 0.6);
  pointer-events: none;
  font-weight: 600;
}
