.newFlows__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.newFlows__menu {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;

  & > li {
    margin-top: 8px;
  }

  & > li:hover,
  & > li:focus {
    color: $accentColor;
  }
}

.newFlows__title {
  margin: 30px 0 0;
  font-size: 18px;
  text-align: center;
}

.newFlows__list {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;

  & > li {
    margin-top: 8px;
  }
}

.newFlows__reference {
  margin: 30px 0 20px;
  font-size: 18px;
}

.newFlows__link {
  color: $accentColor;
  font-weight: 600;

  &:hover,
  &:focus {
    color: $linkHoverColor;
  }
}
