.periodicals__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 260px;
  margin-top: 50px;
  font-size: 10px;

  @media (min-width: 610px) {
    font-size: 13px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.magazines {
  font-size: 7px;
  @media (min-width: 610px) {
    font-size: 10px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.table__title {
  font-size: 20px;
}

.periodicals__table {
  margin-top: 5px;
  border: 3px solid $tableBorderColor;
}

th {
  text-align: center;
  background-color: $tableHeaderColor;
}

tr,
td {
  padding: 3px;
  border: 1px solid $tableCageColor;
  text-align: center;
}
