.rules__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.rules__list {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;

  & > li {
    margin-top: 8px;
  }

  & > li:hover,
  & > li:focus {
    color: $accentColor;
  }
}
