.publication__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.publication__menu {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;

  & > li {
    margin-top: 8px;
  }

  & > li:hover,
  & > li:focus {
    color: rgb(175, 88, 37);
  }
}

.publication__title {
  font-size: 16px;
  margin: 30px 0 0;
}

.publication__list {
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 10px;

  & > li {
    margin-top: 8px;
  }
}
