.publication__nav {
  margin-top: 20px;
  margin-bottom: 20px;
}

.publication__menu {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;

  & > li {
    margin-top: 8px;
  }

  & > li:hover,
  & > li:focus {
    color: $accentColor;
  }
}

.publication__title {
  margin: 30px 0 0;
  font-size: 16px;
}

.publication__list {
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 16px;

  & > li {
    margin-top: 8px;
  }
}
