//Common page
.common__subsection__title {
  font-size: 14px;

  @media (min-width: 768px) {
    margin-top: 0;
    font-size: 16px;
  }
}

//Staff section
.staff {
  background-color: $boxMenuBGColor;
}

.staff__item {
  margin-bottom: 20px;

  & > p {
    margin-top: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.staff__content {
  display: block;

  @media (min-width: 870px) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

.staff__text {
  text-align: left;
}

.staff__list {
  margin-top: 20px;
  list-style: none;
}

.staff__img {
  margin: 10px auto 0;
  @media (min-width: 768px) {
    margin: 40px 10px 0;
    max-width: 550px;
    max-height: 405px;
  }
}

//Schedule section
.schedule__content {
  margin-top: 10px;

  & > p {
    margin-bottom: 5px;
  }

  & > p:last-child {
    margin-bottom: 0;
  }
}

.schedule__text {
  font-size: 16px;
  @media (min-width: 768px) {
    font-size: 18px;
  }
}
