* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1024px;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
}

.section__title {
  font-size: 20px;
  text-align: center;
}

.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
