.footer {
  display: flex;
  justify-content: center;
  background-color: rgba(223, 185, 139, 0.4);
  padding: 25px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 1360px;
  padding: 20px;
  font-size: 13px;
  box-shadow: rgba(90, 69, 66, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  @media (min-width: 768px) {
    flex-direction: row;
    font-size: 15px;
  }

  @media (min-width: 1024px) {
    font-size: 17px;
  }
}

.footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.footer__img {
  height: 50px;

  @media (min-width: 768px) {
    height: 80px;
  }

  @media (min-width: 1024px) {
    height: 100px;
  }
}

.footer__item {
  text-align: center;
  padding: 7px;
}

.footer__weekend {
  font-weight: 600;
}

.footer__title {
  font-family: "Alegreya", serif;
  font-size: 18px;
}
