.header__container {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #dfcdb7;
}

.header__title {
  display: block;
  width: 296px;
  height: 74px;
  background-size: cover;
  background-image: url("../img/VALibrTitle.png");
  background-repeat: no-repeat;

  @media (min-width: 480px) {
    width: 456px;
    height: 114px;
  }

  @media (min-width: 768px) {
    width: 744px;
    height: 186px;
  }

  @media (min-width: 1024px) {
    width: 900px;
    height: 200px;
  }
}

.header__menu {
  padding: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: rgb(145, 123, 103);
}

.menu__list {
  display: flex;
  justify-content: space-evenly;
}

.menu__list > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.menu__list > li:last-child {
  margin-right: 0;
}

.header__menu ul li:hover .menu__submenu {
  visibility: visible;
  opacity: 1;
}

.header__menu .menu__submenu {
  visibility: hidden;
  opacity: 0;
  background: #e4dcc8;
}

.menu__item {
  width: 250px;
  background-color: rgb(146, 127, 99);
  border: 1px solid rgb(122, 91, 70);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 18px;
}

.menu__submenu {
  text-decoration: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.menu__submenu > li:hover,
.menu__submenu > li:focus {
  color: rgb(24, 22, 21);
  background-color: rgb(192, 177, 154);
}

.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
