.header__container {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(223, 185, 139, 0.6);
  padding: 20px 20px 0px 20px;
}

.header__background {
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(44, 30, 22, 0.4),
      rgba(47, 48, 58, 0.5)
    ),
    url("../img/VaodessaHeader.jpg");
  background-repeat: no-repeat;
  width: 728px;
  height: 208px;

  @media (min-width: 768px) {
    width: 1400px;
    height: 400px;
  }
}

.header__title {
  position: absolute;
  top: 100px;
  left: -30px;
  width: 300px;
  display: block;
  background-color: rgba(241, 233, 217, 0.7);

  @media (min-width: 768px) {
    top: 210px;
    left: -30px;
    width: 600px;
  }
}

.header__image {
  position: relative;
  left: 50px;
  width: 250px;

  @media (min-width: 768px) {
    width: 450px;
    left: 55px;
  }
}
// .header__menu {
//   padding: 15px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   background-color: rgb(145, 123, 103);
// }

// .menu__list {
//   display: flex;
//   justify-content: space-evenly;
// }

// .menu__list > li {
//   display: inline-block;
//   margin-right: 20px;
//   position: relative;
// }
// .menu__list > li:last-child {
//   margin-right: 0;
// }

// .header__menu ul li:hover .menu__submenu {
//   visibility: visible;
//   opacity: 1;
// }

// .header__menu .menu__submenu {
//   visibility: hidden;
//   opacity: 0;
//   background: #e4dcc8;
// }

// .menu__item {
//   text-align: center;
//   width: 250px;
//   background-color: rgb(146, 127, 99);
//   border: 1px solid rgb(122, 91, 70);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//   font-size: 14px;

//   @media (min-width: 768px) {
//     font-size: 17px;
//   }

//   @media (min-width: 1024px) {
//     font-size: 20px;
//   }
// }

// .menu__submenu {
//   text-decoration: none;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   width: 100%;
//   z-index: 10;
//   -webkit-transition: 0.5s ease-in-out;
//   -moz-transition: 0.5s ease-in-out;
//   -o-transition: 0.5s ease-in-out;
//   transition: 0.5s ease-in-out;
// }

// .menu__submenu > li:hover,
// .menu__submenu > li:focus {
//   color: rgb(24, 22, 21);
//   background-color: rgb(192, 177, 154);
// }

// .fa {
//   font-family: "FontAwesome";
//   color: inherit;
//   padding-left: 10px;
// }
