.main {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
  padding: 20px;

  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
}

.backgrond {
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: 1;
  // left: 50%;
  // bottom: 50%;
  // margin-right: -50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/VALibraryBackground.png");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: 480px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
    width: 1000px;
    height: 738px;
  }
}

.content__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 1;
}

.content__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__title {
  text-align: center;
  margin-bottom: 20px;
}

.content__directions {
  padding-left: 35px;
}
