// .menu-container {
//   @media (max-width: 767px) {
//     display: flex;
//     flex-direction: column;
//     padding: 40px;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background-color: white;
//     transition: transform $transitionCommon;
//     transform: translateX(100%);
//     overflow-y: scroll;
//   }

//   @media (min-width: 768px) {
//     display: none;
//   }
// }

// .menu-container.is-open {
//   transform: translateX(0);
// }

// .menu-toggle {
//   position: absolute;
//   top: 10px;
//   right: 15px;
//   color: $textDarkGrey;
//   min-height: 40px;
//   min-width: 40px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0;
//   padding: 0;
//   background-color: transparent;
//   cursor: pointer;
//   border: none;
//   border-radius: 50%;
//   outline: none;

//   &:hover,
//   &:focus {
//     color: $accentColor;
//   }

//   @media (min-width: 768px) {
//     display: none;
//   }
// }

.menu__btn {
  background-color: rgba(163, 117, 87, 0.5);
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(219, 198, 177, 0.5);
}

.menu__icon {
  fill: rgba(22, 16, 5, 0.6);
}

// .menu__item {
//   font-weight: 500;
//   font-size: $mobileMenuFontSize;
//   line-height: 1.175;
//   text-align: center;
//   letter-spacing: 0.02em;
//   color: $textDarkGrey;

//   &:hover,
//   &:focus {
//     color: $accentColor;
//   }
// }

// .mobile__closeIcon {
//   fill: currentColor;
// }

// .mobile__menu {
//   margin-bottom: 302px;
//   & li:not(:first-child) {
//     margin-top: 32px;
//   }
// }
